body{
	font-family: 'Lato', sans-serif;
}
.fakeimg {
   height: 200px;
   background: #aaa;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 10px 10px 15px rgba(0,0,0,.3);

 }
#no-bullet {
list-style-type: none;
}

.jumbotron {
 	
 	background-image: url("background.jpg");
 	background-size: cover;
 	color: black;

 }
 .jumbutron h1{
 	position: relative;
 	margin-top: 100px;
 }
 .photo {
 	background-image: url("coffeecup.jpg");
 	background-size: cover;
 }
 .colorful{
 	color: #F05F44;
 }



 .big-font{
 	font-size: 20px;

 }
 h5{
 	font-size: 15px;
 }
 .codephoto {
 	background-image: url("codingoncomputer.jpg");
 	background-size: cover;
 }

 .profile {
 	background-image: url("profile.jpg");
 	background-size: cover;
 }